<header class="main-header">
    <div class="logo">
        <a href="/"><img src="/../Images/LogoPersoTransparent.png" alt="Site Logo"></a>
    </div>
    <h1>Alexandre Delcroix</h1>
    <div class="navbar-container">
        {% include 'Partials/navbar.html.twig' %}
    </div>
</header>
