<nav>
    <ul class="navbar">
        <li><a href="/">Accueil</a></li>
        <li><a href="/Blog">articles</a></li>
        <li><a href="/suite">connection</a></li>
        <li><a href="/demo">Demo</a></li>
        <li><a href="/contact">Nous Contacter</a></li>
    </ul>
</nav>