<nav>
    <ul class="navbar">
        <li><a href="/">Accueil</a></li>
        <li><a href="/suite">Suite</a></li>
        <li><a href="/demo">Demo</a></li>
        <li><a href="/articles">articles</a></li>
        <li><a href="/contact">Nous Contacter</a></li>
    </ul>
</nav>