<nav>
    <ul class="navbar">
        <li><a href="/">Accueil</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/#contact">Contact</a></li>
        {% if user %}
            <li><a href="/profile">Mon Profil</a></li>
            <li><a href="/logout">Déconnexion</a></li>
        {% else %}
            <li><a href="/login">Connexion</a></li>
            <li><a href="/register">Inscription</a></li>
        {% endif %}
    </ul>
</nav>