.navbar a {
    color: white; /* Couleur par défaut des liens */
    text-decoration: none; /* Pas de soulignement (optionnel) */
}

/* Lien visité */
.navbar a:visited {
    font-weight: bold;
    color: red; /* Couleur des liens visités */
}

/* Lien survolé */
.navbar a:hover {
    font-weight: bold;
    color: yellow; /* Couleur lors du survol */
    text-decoration: underline; /* Optionnel */
}

/* Lien actif (au moment du clic) */
.navbar a:active {
    font-weight: bold;
    color: #ffffff; /* Couleur quand le lien est cliqué */
}

.navbar {
    list-style: none; /* Supprime les puces */
    display: flex; /* Dispose les éléments horizontalement */
    padding: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime les marges par défaut */
    justify-content: center; /* Centre le contenu horizontalement */
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li + li::before {
    content: "|"; /* Ajoute le séparateur */
    color: white; /* Change la couleur des séparateurs */
    margin: 0 15px; /* Ajoute de l'espace avant et après le séparateur */
}

